<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <%- include('./partials/message.ejs', {message: message[0]}) %>
        <a href='../'>Return to Message Board</a>
        <a href='../new'>Create a New Message</a>
    </body>
</html>
