<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <p><%- include('message', {message: message}) %></p>
        <a href='../'>Return to Message Board</a>
        <a href='../new'>Create a New Message</a>
    </body>
</html>
