<html>
    <head>
        <title>New Message Form</title>
    </head>
    
    <body>
        <h1>New Message Form</h1>
        <form method='POST' action='/new'>
            <p>Name :</p>
            <input name='userName' type='text' placeholder='Craig'>
            <p>Message :</p>
            <textarea name='messageText' placeholder='jjk is mid'></textarea>
            <button type='submit'>Submit Message</button>
        </form>
        <a href='../'>Return to Message Board</a>
    </body>

</html>
