<html>
    <head>
        <title>Mini Message Board</title>
    </head>

    <body>
        <%- include('./partials/error.ejs') %>
        <ul>
            <% messages.forEach(message => { %>
                <li>
                <%- include('./partials/message.ejs', {message: message}) %>
                <a href='./message/<%=message.id%>'>Open Message</a>
                </li>
            <% }); %>
        </ul>
        <a href='/new'>Create a New Message</a>
        <!--<form method='POST' action='/delete'>
            <button type='submit'>Delete all messages</button>
        </form>-->
    </body>
</html>
