<html>
    <head>
        <title>Mini Message Board</title>
    </head>

    <body>
        <ul>
            <% messages.forEach((message, index) => { %>
                <%- include('message', {message: message}) %>
                <a href='./message/<%=index%>'>Open Message</a>
            <% }); %>
        </ul>
        <a href='/new'>Create a New Message</a>
    </body>
</html>
